*.DS_Store
__pycache__/
*.log
wandb/
cluster_logs/
*.err
*.out
/preprocessing/transients*/
/preprocessing/database/
.vscode/
ps1_dir/*
dist/
*.egg-info
*.pkl
!SPLASH/trained_models/*.pkl
!SPLASH/trained_models/*.pbz2
*splash.html
*transients_*/
sfddata-master/
testing.ipynb
*.ipynb_checkpoints/